<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cookie</title>
</head>
<body>
    <form action="/people/cookie" method="POST">
        <p>是否要喜餅?</p>
        <label for="true">是</label>
        <input type="radio" id="true" name="cookie" value="true">
        <label for="false">否</label>
        <input type="radio" id="false" name="cookie"value="false">
        <br>
        <button>submit</button>
</body>
</html>