<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/home_style.css">
</head>
<body>
    <table>
        <p>Home_page</p>
        <tr>
           <td>read_link</td> 
           <td>creat_link</td> 
           <td>update_link</td> 
           <td>delete_link</td> 
        </tr>
        <tr>
            <td><a href="/people/read">people_read</a></td>
            <td><a href="/people/money/read">money_read</a></td>
            <td><a href="/people/cookie/read">cookie_read</a></td>
            <td><a href="/people/map/read">map_read</a></td>
        </tr>
        <tr>
            <td><a href="/people/map/read">map_read</a></td>
            <td><a href="/people/creat">people_read</a></td>
            <td> <a href="/people/money/creat">money_read</a></td>
            <td><a href="/people/cookie/creat">cookie_read</a></td>
            <td><a href="/people/map/creat">map_read</a></td>
        </tr>
    </table>
    
</body>
</html>