<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <script type="text/javascript" src="/popper/umd/popper.min.js"></script>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <style>
        body {
          background-image: url('/assist/img/IMG_0376.JPG');
          background-repeat: no-repeat;
          background-size: cover;
        }
    </style>

</head>

<body>
    
    <div class="container-fluid fixed-top">

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">秉均  & 思妤</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" id="guest" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Guest Control</a>
                        <div class="dropdown-menu" aria-labelledby="guest">
                            <a class="dropdown-item"
                                href="">Create</a>
                            <a class="dropdown-item"
                                href="">Edit</a>
                            <a class="dropdown-item"
                                href="">Remove</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" id="gift" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Gift</a>
                        <div class="dropdown-menu" aria-labelledby="gift">
                            <a class="dropdown-item"
                                href="">Add</a>
                            <a class="dropdown-item"
                                href="">Edit</a>
                            <a class="dropdown-item"
                                href="">Remove</a>

                        </div>
                    </li>



            </div>
            </li>
            </ul>
        </nav>

    </div>
    <br>
    <br>
    <br>