<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <script type="text/javascript" src="/popper/umd/popper.min.js"></script>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
 
    <div class="container-fluid fixed-top" style="background-color: #8e44ad;">
        <div class="row">
          <div class="col-1">
            <img src="" width="100" height="100" class="d-inline-block align-top">
          </div>
    
          <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: hsl(28, 93%, 11%);">
              <a class="navbar-brand" href="/">Welcome</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" id="dashvoardDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Guest Control</a>
                    <div class="dropdown-menu" aria-labelledby="dashvoardDropDown">
                      <a class="dropdown-item" href="">Create User</a>
                      <a class="dropdown-item" href="">Edit User</a>
                      <a class="dropdown-item" href="">Remove User</a>
                      
                    </div>
                  </li>
                  
              </div>
              </li>
              </ul>
            </nav>
          </div>
        </div>
    
      </div>
      <br>
      <br>
      <br>