<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/people/creat" method="POST">
    <label for="id">creat_id:</label>
    <input type="number" id="id" name="id">
    <br>
    <label for="people_name">people_name:</label>
    <input type="text" id="people_name" name="name" placeholder="輸入真實姓名" >
    <br>
    <label for="people_nickname">people_nick_name:</label>
    <input type="text" id="people_nickname" name="nick_name" placeholder="必須為英文數字且不能重複" >
    <br>
    <label for="people_table">桌號</label>
    <input type="number" id="people_table" name="people_table" placeholder="桌號">
    <label for="people_table_position">位置編號</label>
    <input type="number" id="people_table_position" name="people_table_position" placeholder="位置編號">
 
        <!-- 圖片 -->
        <!-- <p>请选择需要上传的图片:</p>
        <input type="text"  name="textfield"  id="textfield"  class="txt"> -->
        <!-- <input type="button"  class="btn"  value=""> -->
        <!-- <input type="file"  name="addImage"  class="file"  id="fileField"  size="28"  onchange="document.getElementById('textfield').value=this.value">
        <input type="submit"  name="submit"  class="btn"  value="上传" onclick="check()"> -->

    <button>submit</button>
    

    </form>
    
</body>
</html>